.team-formation-inputs {
    margin-bottom: 50px;
}

.button-wrapper {
    display: flex;
}

.button {
    color: white;
    background: rgb(176, 58, 120);
    background: linear-gradient(142deg, rgba(176, 58, 120, 1) 0%, rgba(117, 44, 123, 1) 100%);
    border: 1px solid #792d7b;
    border-radius: 5px;
    margin-top: 7px;
    margin-right: auto;
    margin-left: auto;
    width: 90%;
    height: 3em;
}