header {
    background-color: #ac1258;
    height: 8vh;
    display: flex;
    justify-content: space-between;
}

.logo-name-container {
    display: flex;
}

header img {
    width: 6vh;
    height: 6vh;
    margin-top: 6px;
}

.logo {
    width: 6vh;
    height: 6vh;
    margin-left: 20px;
}

.app-name {
    text-align: center;
    margin-left: 30px;
    color: var(--secondary-color);
}

.username {
    display: none;
}

.avatar {
    margin-right: 20px;
}