.my-teams {
    background-color: white;
    max-height: 87vh;
    width: 90%;
    margin: 10px auto;
    border-radius: 5px;
    display: grid;
}

.widget-title {
    color: #562d85;
    margin-left: 15px;
}

.title-border {
    height: 0%;
    width: 100%;
    border: 0.2px #f3f3f3 solid;
}

table {
    margin: 20px auto;
    width: 90%;
    border-collapse: collapse;
    border-radius: 1em;
    background-color: white;
}


tbody tr {
    border-bottom: 0.5px solid #f3f3f3;
}

tbody tr:first-child {
    border-top: 0.5px solid #f3f3f3;
}

tr th:first-child {
    border-right: 1px solid #f3f3f3;
    padding-right: 3.5rem;
}

tr th:nth-child(2) {
    padding-right: 5rem;
}

td {
    padding: .5rem .5rem .5rem 1.5rem;
}

tbody td:nth-child(2n) {
    padding-left: 1.5rem;
}

th {
    padding: 0.5rem;
}