.my-teams {
    background-color: var(--secondary-color);
    max-height: 87vh;
    width: 90%;
    margin: 10px auto;
    border-radius: 5px;
    display: grid;
    grid-template-rows: min-content min-content;
}

.my-teams-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.widget-title {
    color: #562d85;
    margin-left: 15px;
}

.create-team-button {
    background: rgb(176, 58, 120);
    background: var(--gradient);
    box-shadow: 1px 4px 10px #85307a87;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    border: none;
    margin-right: 5%;
}

.create-team-button img {
    width: 11px;
    height: 11px;
}

.title-border {
    height: 0%;
    width: 100%;
    border: 0.2px var(--border-color) solid;
}

table {
    margin: 20px auto;
    width: 90%;
    border-collapse: collapse;
    border-radius: 1em;
    background-color: var(--secondary-color);
}

tbody tr {
    border-bottom: 0.5px solid var(--border-color);
}

tbody tr:first-child {
    border-top: 0.5px solid var(--border-color);
}

tr th:first-child {
    border-right: 1px solid var(--border-color);
    padding-right: 3.5rem;
}

tr th:nth-child(2) {
    padding-right: 5rem;
}

td {
    padding: .5rem .5rem .5rem 1.5rem;
}

tbody td:nth-child(2n) {
    padding-left: 1.5rem;
}

th {
    padding: 0.5rem;
}