.my-teams {
    background: white;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.widget-title {
    color: #562d85;
}

table {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: 90%;
    height: 80%;
    border-collapse: collapse;
    border-radius: 1em;
    /* border: 1px solid white; */
    background-color: white;
}

td, th {
    /* border: 1px solid tomato; */
    padding: 0.5rem;
}