.section-title {
    text-align: center;
    color: #8d8d8d;
    margin-top: 30px;
}

.form-input {
    display: flex;
    flex-direction: column;
    margin-top: 23px;
}

.form-input-radio {
    display: grid;
    grid-template-columns: 90px 90px;
    margin-top: 23px;
    margin-right: auto;
    margin-left: auto;
    width: 90%;
}

label {
    font-size: small;
    margin-left: 5%;
}

.form-input-radio label {
    margin-left: 1%;
}

input[type=text] {
    border: 1.3px solid #ececec;
    border-radius: 2px;
    width: 90%;
    height: 23px;
    margin-top: 7px;
    margin-right: auto;
    margin-left: auto;
    text-indent: 10px;
}

textarea {
    border: 1.3px solid #ececec;
    border-radius: 2px;
    width: 90%;
    margin-top: 7px;
    margin-right: auto;
    margin-left: auto;
}

@media screen and (min-width: 768px) {
    .team-information-inputs {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}