/* html, body, #root, #root>div {
    height: 100%
} */

#root {
    display: grid;
    grid-template-areas: "header" "content" "footer";
    grid-template-rows: auto auto min-content;
}

body {
    background-color: #f7f3f7;
} 