html, body, #root {
    height: 100%
}

#root {
    display: grid;
    grid-template-areas: "header" "content" "footer";
    grid-template-rows: min-content auto min-content;
}

body {
    background-color: #f7f3f7;
} 