:root {
    --secondary-color: #ffffff;
    --border-color: #f3f3f3;
    --gradient: linear-gradient(180deg, rgba(176, 58, 120, 1) 0%, rgba(117, 44, 123, 1) 100%);
}

html, body, #root {
    height: 100%
}

#root {
    display: grid;
    grid-template-areas: "header" "content" "footer";
    grid-template-rows: min-content auto min-content;
}

body {
    background-color: #f7f3f7;
} 